@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");


* {
    box-sizing: border-box;
  }

strong {
    font-weight: 700;
}


header {
    background-color: #404EED;
    width: 1366px;
    height: 89px;
    padding-top: 15px;
    padding-left: 82px;
}

main {
    width: 1366px;
    height: 785px;
    font-family: "Roboto", sans-serif;

} 

.select-tshirt {
    display: flex;
}

.selection {
    background-color: #FFFFFF;
    width: 695.5px;
    height: 785px;
    padding-top: 38px;
    padding-left: 125px;
    padding-right: 188px;
}


.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 31px;
    margin-left: 20px;
}

.options > div {
    display: inline-flexbox;
    justify-content: center;
    align-items: center;

}

.options  .model {
    background: #F2F2F2;
    background-size: cover;
    border: 0.5px solid #C4C4C4;
    width: 100px;
    height: 100px;
    margin-right: 40px;
    border-radius: 50px;
    padding-top: 7px;
    padding-left: 8px;
}

.options  .collar {
    background: #F2F2F2;
    background-size: cover;
    border: 0.5px solid #C4C4C4;
    width: 100px;
    height: 100px;
    margin-right: 40px;
    border-radius: 50px;
    padding-top: 15px;
    padding-left: 8px;
}

.options  .fabric {
    background: #F2F2F2;
    background-size: cover;
    border: 0.5px solid #C4C4C4;
    width: 100px;
    height: 100px;
    margin-right: 40px;
    border-radius: 50px;
    padding-top: 18px;
    padding-left: 18px;
}

.options .selected {
    border: 3px solid #404EED;
}


h2 {
    margin-top: 9px;
    font-size: 18px;
    font-weight: 300;
    line-height: 21.09px;
}

h3 {
    margin-top: 9px;
    font-size: 18px;
    font-weight: 300;
    line-height: 21.09px;
    text-align: center;
    padding-right: 32px;
}

.reference {
    display: block;
    font-family: "Roboto", sans-serif;

}

.reference input {
    background-color: #F2F2F2;
    width: 397px;
    height: 40px;
    margin-top: 9px;
    border: none;
    border-radius: 10px;
}

.reference button {
    background-color: #C4C4C4;
    width: 397px;
    height: 40px;
    margin-top: 22px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 300;
    color: white;
}

.active button {
    background-color: #404EED;
}


.display-image {
    width: 679.5px;
    height: 785px;
    background-color: #404EED;
}


.previous-tshirts {
    background-color: #F2F2F2;
    height: 342px;
}

.previous-tshirts p {
    font-size: 24px;
    font-weight: 400;
    padding-top: 31px;
    padding-left: 125px;
    margin-bottom: 15px;
}

.list {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    width: 100%;
    padding-left: 125px;
}

.list > div {
    background-color: #FFFFFF;
    width: 201.69px;
    height: 236.47px;
    margin-right: 17px;
    display: flexbox;
    align-items: center;
    justify-content: center;
}

.list > div h4 {
    color: black;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}


.list img {
    background-color: #FFFFFF;
    width: 180px;
    height: 180px;
    margin-left: 10.85px;
    margin-right: 10.85px;
    margin-top: 16.42px;
}

